.Testimony{
   background: #fff;
   padding-top: 30px;
   padding-bottom: 30px;
   display: grid;
   /* justify-items: center; */
}
.Title{
   text-align: center;
}
.Vids{
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
}
.text{
   font-style: normal;
   font-weight: 600;
   font-size: 26px;
   line-height: 32px;
   color: #373F41;
}
.subtitle{
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: #737B7D;
}
.Tes{
   place-self: center;
}